# Configuration file

client {
    # Disable rendering of quarries.
    B:DisableRendering=false

    # The name of block whose texture is used for dummy block placed by Replacer. [default: minecraft:glass]
    S:DummyBlockTextureName=minecraft:glass
}


general {
    # DEBUG [default: false]
    B:DEBUG=false

    # Disable adding magic mirror to loot.
    B:DisableDungeonLoot=true

    # False to allow quarries to break blocks inside of yellow line. True to disable this function. [default: false]
    B:DisableFillerMode=false

    # DisableFrameChainBreak [default: false]
    B:DisableFrameChainBreak=false

    # EnableChunkDestroyerFluidHandler [default: true]
    B:EnableChunkDestroyerFluidHandler=true

    # True to allow much faster move of quarry head. [default: false]
    B:FastQuarryHeadMove=true

    # Tool classes quarry should NOT imitate.
    S:IgnoredTools <
        crook
     >

    # NewRecipeDifficulty [range: 1 ~ 32767, default: 2]
    I:NewRecipeDifficulty=2

    # NoEnergy [default: false]
    B:NoEnergy=false

    # PlacerOnlyPlaceFront [default: true]
    B:PlacerOnlyPlaceFront=true

    # PumpAutoStart [default: false]
    B:PumpAutoStart=false

    # RemoveBedrock [default: false]
    B:RemoveBedrock=false

    # RemoveOnlySource [default: false]
    B:RemoveOnlySource=false

    # Spawner Blacklist
    S:SpawnerControllerEntityBlackList <
        minecraft:ender_dragon
        minecraft:wither
     >

    # False to disable default workbench recipe. You can add recipe with json file. [default: true]
    B:UseHardCodedRecipe=false

    # Amount of energy WorkbenchPlus can accept in a tick. Unit is MJ and 1 MJ = 10 RF = 10 FE. [range: 1 ~ 2147483647, default: 250]
    I:WorkbenchplusReceive=250

    ##########################################################################################################
    # powersetting
    #--------------------------------------------------------------------------------------------------------#
    # Quarry PowerSetting (min = 1e-9, Max = 2,000,000,000 = 2 billion)
    ##########################################################################################################

    powersetting {

        quarry {

            breakblock {
                # powersetting.quarry.breakblock.BaseMaxRecieve
                D:BaseMaxRecieve=300.0

                # powersetting.quarry.breakblock.BaseMaxStored
                D:BaseMaxStored=15000.0

                # powersetting.quarry.breakblock.BasePower
                D:BasePower=40.0

                # powersetting.quarry.breakblock.EfficiencyCoefficient
                D:EfficiencyCoefficient=1.3

                # powersetting.quarry.breakblock.FortuneCoefficient
                D:FortuneCoefficient=1.3

                # powersetting.quarry.breakblock.SilktouchCoefficient
                D:SilktouchCoefficient=2.0

                # powersetting.quarry.breakblock.UnbreakingCoefficient
                D:UnbreakingCoefficient=1.0

                movehead {
                    # powersetting.quarry.breakblock.movehead.BasePower
                    D:BasePower=200.0

                    # powersetting.quarry.breakblock.movehead.UnbreakingCoefficient
                    D:UnbreakingCoefficient=1.0
                }

            }

            makeframe {
                # powersetting.quarry.makeframe.BaseMaxRecieve
                D:BaseMaxRecieve=100.0

                # powersetting.quarry.makeframe.BaseMaxStored
                D:BaseMaxStored=15000.0

                # powersetting.quarry.makeframe.BasePower
                D:BasePower=25.0

                # powersetting.quarry.makeframe.EfficiencyCoefficient
                D:EfficiencyCoefficient=1.3

                # powersetting.quarry.makeframe.UnbreakingCoefficient
                D:UnbreakingCoefficient=1.0
            }

        }

        solidfuelquarry {

            breakblock {
                # powersetting.solidfuelquarry.breakblock.BaseMaxReceive
                D:BaseMaxReceive=300.0

                # powersetting.solidfuelquarry.breakblock.BaseMaxStored
                D:BaseMaxStored=15000.0

                # powersetting.solidfuelquarry.breakblock.BasePower
                D:BasePower=40.0

                movehead {
                    # powersetting.solidfuelquarry.breakblock.movehead.BasePower
                    D:BasePower=200.0
                }

            }

        }

        pump {

            drainliquid {
                # powersetting.pump.drainliquid.BasePower
                D:BasePower=10.0

                # powersetting.pump.drainliquid.UnbreakingCoefficient
                D:UnbreakingCoefficient=1.0
            }

            makeframe {
                # powersetting.pump.makeframe.BasePower
                D:BasePower=25.0

                # powersetting.pump.makeframe.UnbreakingCoefficient
                D:UnbreakingCoefficient=1.0
            }

        }

        miningwell {
            # powersetting.miningwell.BaseMaxRecieve
            D:BaseMaxRecieve=100.0

            # powersetting.miningwell.BaseMaxStored
            D:BaseMaxStored=1000.0

            # powersetting.miningwell.BasePower
            D:BasePower=40.0

            # powersetting.miningwell.EfficiencyCoefficient
            D:EfficiencyCoefficient=1.3

            # powersetting.miningwell.FortuneCoefficient
            D:FortuneCoefficient=1.3

            # powersetting.miningwell.SilktouchCoefficient
            D:SilktouchCoefficient=2.0

            # powersetting.miningwell.UnbreakingCoefficient
            D:UnbreakingCoefficient=1.0
        }

        laser {
            # powersetting.laser.BaseMaxRecieve
            D:BaseMaxRecieve=100.0

            # powersetting.laser.BaseMaxStored
            D:BaseMaxStored=1000.0

            # powersetting.laser.BasePower
            D:BasePower=4.0

            # powersetting.laser.EfficiencyCoefficient
            D:EfficiencyCoefficient=2.0

            # powersetting.laser.FortuneCoefficient
            D:FortuneCoefficient=1.05

            # powersetting.laser.SilktouchCoefficient
            D:SilktouchCoefficient=1.1

            # powersetting.laser.UnbreakingCoefficient
            D:UnbreakingCoefficient=0.1
        }

        refinery {
            # powersetting.refinery.BaseMaxRecieve
            D:BaseMaxRecieve=6.0

            # powersetting.refinery.BaseMaxStored
            D:BaseMaxStored=1000.0

            # powersetting.refinery.EfficiencyCoefficient
            D:EfficiencyCoefficient=1.2

            # powersetting.refinery.UnbreakingCoefficient
            D:UnbreakingCoefficient=1.0
        }

        filler {
            # powersetting.filler.BasePower
            D:BasePower=40.0
        }

    }

    tick_delay {
        # Delay ticks of 'NewQuarry work. 0 to disable delaying. [range: 0 ~ 1000000, default: 0]
        I:NewQuarry=0

        # Delay ticks of 'QuarryPlus work. 0 to disable delaying. [range: 0 ~ 1000000, default: 0]
        I:QuarryPlus=0

        # Delay ticks of 'SolidFuleQuarry work. 0 to disable delaying. [range: 0 ~ 1000000, default: 0]
        I:SolidFuleQuarry=0
    }

}


machines {
    B:DisableAdvancedPump=false
    B:DisableBreakerPlus=true
    B:DisableChunkDestroyer=false
    B:DisableEnchantMover=false
    B:DisableEnchantMoverFromBook=true
    B:DisableExpPump=false
    B:DisableFiller=false
    B:DisableLaserPlus=false
    B:DisableMagicMirror=true
    B:DisableMarkerPlus=false
    B:DisableMiningwellPlus=false
    B:DisableModuleExpPump=false
    B:DisableModuleFuel=false
    B:DisableModulePump=false
    B:DisableModuleReplacer=true
    B:DisableModuleTorch=false
    B:DisableNewQuarry=false
    B:DisablePlacerPlus=false
    B:DisablePumpPlus=false
    B:DisableQuarryPlus=false
    B:DisableRefineryPlus=false
    B:DisableReplacer=false
    B:DisableSolidFuleQuarry=true
    B:DisableSpawnerController=true
    B:DisableWorkbenchPlus=true
}


